:root {
    --primary: #414f6b;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    /* Theme color */
    --theme: var(--primary);
}

@media (max-width: 768px) {
    /* Core styles/functionality */
    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tab__content {
        max-height: 0;
        overflow: hidden;
        /* transition: all 0.35s; */
    }

    .tab input:checked ~ .tab__content {
        max-height: 100rem;
    }

    /* Visual styles */
    .accordion {
        color: var(--theme);
        border: 2px solid;

        overflow: hidden;
    }

    .tab__label,
    .tab__close {
        display: flex;
        color: white;
        background: var(--theme);
        cursor: pointer;
    }

    .tab__label {
        justify-content: space-between;
        padding: 1rem;
    }

    .tab__label::after {
        content: url("../../assets/images/down_arrow.svg");
        width: 1em;
        height: 1em;
        text-align: center;
        transform: scale(1);
        /* transition: all 0.35s; */
    }

    .tab input:checked + .tab__label::after {
        /* transition: 0.3s; */
        transform: scale(-1);
    }

    .tab__content p {
        margin: 0;
        padding: 1rem;
    }

    .tab__close {
        justify-content: flex-end;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }

    /* Arrow animation */
    .tab input:not(:checked) + .tab__label:hover::after {
        animation: bounce 0.5s infinite;
    }

    @keyframes bounce {
        25% {
            transform: translateY(25%);
        }

        75% {
            transform: translateY(50%);
        }
    }
}
@media (min-width: 768px) {
    .tab {
        input[type="radio"],
        input[type="checkbox"] {
            display: none;
        }
        .tab__close,
        .tab__label {
            display: none;
        }
    }
}
